

/* обнуление стилей по умолчанию */
* {padding: 0; margin: 0; border: 0;}
*,*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea { font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}



body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 60px 15px;   
}

@media (max-width: 1200px) {
    .container {
       width: 830px;
    }
}
  
@media (max-width: 829px) {
    .container {
       width: 630px;
    }
}

@media (max-width: 629px) {
    .container {
       width: 320px;
    }
 }

.sidebar-menu__wrap {
    display: block ;
    position: absolute;
    top: 23px;
    right: 35px;
    width: 40px;
    height: 40px;
    z-index: 3;
}
@media (max-width: 629px) {
    .sidebar-menu__wrap {
        right: 5px; 
    }
}

.sidebar-menu__btn {
    /* position: absolute; */
    display: block;
    width: 40px;
    height: 0px;
    /* top: 15px; */
    /* right: 25px; */
    background-color: #fff;
    border-radius: 20%;
    z-index: 5;
    position: relative;
    overflow: hidden;
}

.sidebar-menu__btn span,
.sidebar-menu__btn span::before,
.sidebar-menu__btn span::after {
    position: absolute;
    top: 50%;margin-top: -1px;
    left: 50%;margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222222;
}

.sidebar-menu__btn span::before,
.sidebar-menu__btn span::after {
    content: "";
    transition: 0.3;
}

.sidebar-menu__btn span::before {
    transform: translateY(-5px);
}

.sidebar-menu__btn span::after {
    transform: translateY(5px);
}

.mobile__active span::before {
    width: 10px;
    transform: rotate(-35deg);
    transform-origin: left bottom;
}

.sidebar-menu__btn.mobile__active span::after {
    width: 10px;
    transform: rotate(35deg);
    transform-origin: left top;
}

@media (max-width: 829px) {
    .sidebar-menu__btn {
       height: 40px;   
    }    
}



/* sidebar */

.sidebar {
    min-width: 200px;
    width: 270px;
}

.sidebar + .main {
    margin: 20px;
}

@media (max-width: 829px) {
    .sidebar {
       position: fixed;
       top: 0;
       left: 0;
       bottom: 0;
       background-color: white;
       padding: 15px;
       box-shadow: 0px 0px 15px 3px rgb(0 0 0 /30%);
       z-index: 1;
       overflow-y: scroll;
       transform: translateX(-150%);
       transition: all 0.23s ease-in;
  /* transition: all 0.4s ease-in; */
    }
}

.sidebar-mobile__active {
    transform: translateX(0%);
}






.widget + .widget {
    margin-top: 30px;
}
  
.checkbox.widget__hiden-elements {
    display: none;
}

.widget__title {
position: relative;    
font-weight: bold;
font-size: 18px;
line-height: 1.16;
margin: 0 0 20px 0;
color: black;
}

.widget__title::after {
   content: "";
   width: 20px;
   height: 20px;
   position: absolute;
   right: 0;
   background-image: url('./../img/icons/chevron-up.svg');
   background-position: center;   
   
}

.hide-widget__body:after {
    transform: rotate(180deg);   
}

.widget__title.hide-widget__body + .widget__body {
    display: none;
}

button {
   display: flex; 
   align-items: center;
   justify-content: center;
}
 
.location__row {
   display: flex;
}

.location__row:first-child {
   overflow: hidden;
   border-radius: 4px 4px 0 0;
   border: 1px solid #D6D6D6 ;
}

.location__row:last-child {
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    border: 1px solid #D6D6D6 ;
    border-top: none;
}
    
.location__btn {
    flex-grow: 1;
    height: 50px;
    
    background-color: transparent;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #3c3c3c;
    cursor: pointer;
    transition: background-color 0.3s ease-in;

}

.location__btn:hover {
background-color: #c9e7c3;
}    

.location__checkbox {
   width: 1px;
   height: 1px;
   position: absolute;
   opacity: 0;
   appearance: none;
}

.location__checkbox:checked + .location__btn {
    background-color: #4ca868d8;
}

.location__checkbox:checked + .location__btn:hover {
    background-color: #188839da;
}

/* Radio */

.radio {
   display: block ;
   cursor: pointer;
}

.radio + .radio {
    margin-top: 15px;
}

.radio__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.radio__fake {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #777777;
    border-radius: 50%;
    vertical-align: bottom;
 } 
 
.radio__real:checked + .radio__fake {
   background-color: #f3c257;
   border-radius: 50%;

}

.radio__real:checked + .radio__fake::before {
   position: absolute;
   top: 50%;
   left: 50%;
   content: "";
   border-radius: 50%;
   width: 8px;
   height: 8px;
   background: #3C3C3C;
   transform: translate(-50%, -50%);
}

.radio__real:checked ~ .radio__title {
     font-weight: 500;
 }

.radio__title {
   font-weight:  400;
   font-size: 16px;
   line-height: 1.18;
   color:#000;
}

/* checkbox */

.checkbox {
    display: block ;
    cursor: pointer;
    margin-bottom: 15px;
}





.checkbox__fake {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #777777;
    border-radius: 2px;
    vertical-align: bottom;
    overflow: hidden;
 } 

.checkbox__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}





.checkbox__real:checked +.checkbox__fake {
    background-color: #f3c257;
    background-image: url("../img/icons/check.svg");
}
.checkbox__real:checked +.checkbox__fake::before {
    content: '';
    width: 18px;
    height: 18px;
}
 
.checkbox__title {
    font-weight:  400;
    font-size: 16px;
    line-height: 1.18;
    color:#000;
}

.checkbox__real:checked ~ .checkbox__title {
    font-weight: 500;
}

.widget__show-more {
    /* padding: 15px 0 30px 0; */
    border: none;
    font-weight:  400;
    font-size: 16px;
    line-height: 1.18;
    color:#4290c9;
    transition: opacity 0.3s ease-in;
    background-color: transparent;
}

.widget__show-more:hover {
    font-weight:  500;
    opacity: 0.7;
    text-decoration: underline;
}


.sidebar__btn {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    background-color: transparent;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    transition: all 0.3s ease-in;
}

.btn-submit {
    background-color: #f3c257;
    border: none;
}

.sidebar__btn + .sidebar__btn  {
    margin-top: 10px;
}

.sidebar__btn:hover {
    color:#4290c9;
    /* border: 1px solid #4290c9; */
    background-color: #e6e3e3;
    border: none;
    transition: all 0.3s ease-in;
}

.sidebar__btn:hover.sidebar__btn img {
    color:#4290c9;   
    opacity: 0.6;
}

.sidebar__btn img {
    margin-right: 5px;
    width: 18;
    height: 18;
    vertical-align: middle;
    transition: all 0.3s ease-in;
}






/* main:   card*/
.row {
    display: flex;
    
}

.main {
    width: 870px;
    height: 200px; 
    /* flex-wrap: wrap; */
    /* overflow: hidden; */

}

.main-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 629px){
    .main-cards {
        flex-flow: column;
        align-items: center;
        min-width: 100%;
        margin: 0 auto;
        padding: 0;
        
    }
}


.main > .card__link {
    margin-bottom: 30px;
}

.card {
    position: relative;
    width: 270px;
    background-color: #fff;
    transition: all 0.23s ease-in;
    box-shadow: 0 0 5px #222222;

}







.card__badges {
    display: flex;
    position: absolute;
    top: 10px;
    left: 8px;
    right: 8px;
    
}

.card__badges > * + * {
    margin-left: 20px;
} 

.card__badge {
   display: inline-block;
   height: 22px;
   padding: 0 5px;
   background: rgb(233, 164, 35);
   border-radius: 4px;
   font-size: 14px;
   line-height: 23px;
   color: black;
}

.card__badge-class {
   background-color:  rgb(233, 164, 35);
}

.card__badge-credit {
    background-color:  rgb(75, 173, 36);
    color: #fff;
}

.card__img img {
   width: 270px; 
   height: 200px;   
}
.card__content {
    padding: 16px 15px 20px;
 }

.card__title{
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: black;
  margin-bottom: 12px;
 }
 
.card__term {
    font-size: 14px;
    line-height: 1.14;
    color: black;
    margin-bottom: 10px;
 }

.card__metro {
    font-size: 14px;
    line-height: 1.14;
    color: black;
    margin-bottom: 10px;
}

.card__metro::before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: baseline;
    width: 16px;
    height: 11px;
    background-image: url('./../img/icons/Kyiv_Metro\ 1.svg ');
    background-size: initial;
}

.card__address {
    font-size: 14px;
    line-height: 1.14;
    color: #777777;
}

.card__link {
    display: flex;
    /* transition: all 0.2s ease-in; */
}

.card:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}




.btn__showMore {
    width: 100%;
    height: 80px;
    background-size: initial;
    vertical-align: baseline;
    border: 5px ;
    font-size: 18px;
    line-height: 21px; 
}

.btn__showMore:hover  {
    background-color: #e6e3e3;
    color:#4290c9;
    transition: all 0.3s ease-in;
}

.btn__showMore:hover.btn__showMore img {
    color:#4290c9;   
    opacity: 0.6;
}

.btn__showMore img{
    margin-right: 10px;
    height: 19px;
}

 


















































